.monster-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: center;

}

.card {
  background-color: #95dada;
  margin: 5px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.03);
  }

  &-body {
    text-align: center;
  }
}

.col-4 {
  max-width: 30%;
}